[submodule "l10n_gt_extra"]
	path = l10n_gt_extra
	url = https://github.com/rocketgithub/l10n_gt_extra.git
	branch = 11.0
[submodule "fel_infile"]
	path = fel_infile
	url = https://github.com/rocketgithub/fel_infile.git
	branch = 13.0
[submodule "pos_fel"]
	path = pos_fel
	url = https://github.com/rocketgithub/pos_fel.git
	branch = 13.0
[submodule "pos_gt"]
	path = pos_gt
	url = https://github.com/rocketgithub/pos_gt.git
	branch = 13.0
[submodule "intcomex"]
	path = intcomex
	url = git@github.com:rocketgithub/intcomex.git
[submodule "innovative"]
	path = innovative
	url = git@github.com:rocketgithub/innovative.git
[submodule "hr_expense_invoice"]
	path = hr_expense_invoice
	url = git@github.com:rocketgithub/hr_expense_invoice.git
[submodule "pos_lot_check"]
	path = pos_lot_check
	url = git@github.com:rocketgithub/pos_lot_check.git
[submodule "stock_transfer"]
	path = stock_transfer
	url = git@github.com:rocketgithub/stock_transfer.git
